body {
  color: 3322ee;
  background-size: 100%;
  display: block;
  font-family: "Noto Serif JP", serif;
  margin: 0 auto;
  max-width: 750px;
}

h1 {
  color: #ffaaa5;
  font-size: 50px;
  margin-bottom: 5px;
}

h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  opacity: 0.7;
}

h3:first-letter {
  text-transform: capitalize;
}

hr {
  border: none;
  height: 3px;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, #ffaaa5)
  );
  margin-bottom: 40px;
}

footer {
  font-size: 13px;
  text-align: left;
}

.card {
  background-color: #fcf8f3;
  display: block;
  margin: 20px auto 5px;
}

.compass {
  color: #ffaaa5;
  font-size: 35px;
  position: relative;
  left: 5px;
}

.compass:hover {
  cursor: pointer;
}

.search-box {
  text-align: center;
  margin-bottom: 40px;
}

.search-button {
  background-color: #ffaaa5;
  color: #fcf8f3;
  transition: all 150ms ease-in-out;
  width: 150px;
}

.search-button:hover {
  background-color: #fcf8f3;
  color: #ffaaa5;
}

.location-data {
  margin-left: 20px;
}

.current-weather {
  margin-bottom: 40px;
}

.temp-data {
  color: #ffaaa5;
  font-size: 45px;
  margin-top: 20px;
  padding: 0;
}

#current-weather-icon {
  position: relative;
  top: -3px;
  width: 70px;
}

.temp-scale-selector {
  font-size: 16px;
  position: relative;
  top: -21px;
}

.weather-conditions {
  font-size: 13px;
  margin-top: 33px;
}

.future-weather {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.night-temp {
  opacity: 0.7;
}

.footer {
  color: #fcf8f3;
  text-decoration: none;
}

.footer:hover {
  color: #ffaaa5;
}

#footer {
  opacity: 0.7;
}
